<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("926ea2c0-3855-4c3d-8401-585e79bc14e7");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
